<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Roomanager</title>
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
<%= render 'shared/header' %>
  <main>
    <section class="mypage">
      <div class="indoor">
        <div class= "indoor_header">
          <p1>居室情報</p1>
          <nav>
            <ul class="header-links">
              <% if user_signed_in? %>
                <%= link_to "登録詳細", edit_user_registration_path, class: "header__right--btn" %>
                <%= link_to "登録削除", destroy_user_session_path, method: :delete, class: "header__right--btn" %>
                <%= link_to "登録変更", edit_user_registration_path, class: "header__right--btn" %>
                <%= link_to "新規登録", destroy_user_session_path, method: :delete, class: "header__right--btn" %>

              <% else %>
                <%= link_to "ログイン", new_user_session_path, class: "header__right--btn" %>
                <%= link_to "新規登録", new_user_registration_path, class: "header__right--btn" %>
              <% end %>
            </ul>
          </nav>
        </div>

      </div>

      <div class="outdoor">
        <div class= "outdoor_header">
          <p1>店舗情報</p1>
          <nav>
            <ul class="header-links">
              <% if user_signed_in? %>
                <%= link_to "店舗検索", edit_user_registration_path, class: "header__right--btn" %>
                <%= link_to "店舗登録", destroy_user_session_path, method: :delete, class: "header__right--btn" %>
              <% else %>
                <%= link_to "ログイン", new_user_session_path, class: "header__right--btn" %>
                <%= link_to "新規登録", new_user_registration_path, class: "header__right--btn" %>
              <% end %>
            </ul>
          </nav>
        </div>
        <div class= "outdoor_main">
        <a href="https://www.yamada-denki.jp/store/contents/?d=128">ヤマダ電機（テックランドNew野並店）</a><br>
        <a href="https://www.kahma.co.jp/shop/detail?shop=228">DCMカーマ鳴海店</a><br>

      </div>
  </main>
<%= render 'shared/footer' %>
</body>
</html>